body {
    margin: 2vh 3vw;
}


main {
    display: flex;
    flex-direction: column;
    animation-name: fadein;
    animation-duration: 500ms;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: fit-content;
    border: 2px solid black;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
