{% extends "base.html" %}

{% block header %}
<header class="bg-light py-5">
    <div class="container text-center">
        <h1 class="display-4">Git Learner</h1>
        <p class="lead mt-3">Master Git, one commit at a time</p>
    </div>
</header>
{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="bg-white rounded p-5 text-center shadow">
        <p class="h4 font-weight-bold">Welcome to the Git Learner System</p>
        <p class="mt-4">Embark on your journey to Git mastery. Explore our modules and enhance your version control skills.</p>
    </div>
</div>

<div class="text-center mt-5">
    {% if signed_in %}
        {% include "user.html" %}
        <a href="{{ url_for('auth.logout') }}">
            <button class="btn btn-primary mt-4">Logout</button>
        </a>
    {% else %}
        <a href="{{ url_for('auth.login') }}">
            <button class="btn btn-dark mt-4">
                <img src="{{ url_for('static', filename="github-mark/github-mark-white.svg") }}" alt="GitHub Logo" style="height: 20px; margin-right: 8px;">
                Login via GitHub
            </button>
        </a>
    {% endif %}
</div>

<hr class="my-5">

<main class="mt-5">
    <h2 class="text-center font-weight-bold">Modules</h2>
    <section class="mt-4 text-center">
        <a href="{{ url_for('modules.modules_home') }}">
            <button class="btn btn-success">
                Explore Modules
            </button>
        </a>
    </section>
</main>

{% endblock content %}
