{% extends "base.html" %}

{% block title %}
Git Learner Home
{% endblock %}

{% block content %}
<header>
    <h1>Git Learner</h1>
</header>
<div>
    {% if signed_in %}
    {% include "user.html" %}
    <a href="{{ url_for('auth.logout') }}"><button>Logout</button></a>
    {% else %}
    <a href="{{ url_for('auth.login_page') }}"><button>Login</button></a>
    {% endif %}
</div>
<main>
    <p>Welcome to the git-learner system</p>
    <h2>Modules</h2>
    <section>
        <a href="{{ url_for('modules.modules_home') }}"><button>Modules</button></a>
    </section>
</main>
{% endblock content %}
