{% extends "base.html" %}

{% block title %}
{{ module['name'] }}
{% endblock %}

{% block content %}
<h1>{{ module['name'] }}</h1>
<p>Total Steps: {{ module['total_steps'] }}</p>

{% if session_info %}
<progress value="{{ session_info['current_step'] }}" max="{{ module['total_steps'] }}"></progress>
{% if repo_url %}
<label>
Repo Url
<input type="text" id="repoUrl" value="{{ repo_url }}" readonly>
</label>
{% endif %}
{% if session_info['current_step'] < module['total_steps'] %}
<a href="{{ url_for('modules.module_step', module_name= module['name'], module_step=session_info['current_step'] + 1) }}"><button>Resume</button></a>
{% endif %}
<a href="{{ url_for('modules.new_session', module_name= module['name']) }}"><button>Restart</button></a>
{% else %}
<a href="{{ url_for('modules.new_session', module_name=module['name']) }}"><button>Start Session</button></a>
{% endif %}
{% endblock %}
