{% set title = module['name'] %}
{% extends "base.html" %}

{% block title %}
Git Learner: {{ module['name'] }}
{% endblock %}

{% block content %}

{% if session_info -%}
    {% include "module_progress.html" %}
    {% if repo_url -%}
    <div class="repo-url-container">
        <label for="repoUrl" class="repo-url-label">Repo URL</label>
        <div class="repo-url-wrapper">
            <input type="text" id="repoUrl" value="{{ repo_url }}" readonly>
            <button id="copyRepoUrl" class="copy-button" onclick="copyRepoUrl()">Copy</button>
        </div>
    </div>
    {%- endif %}
    {% if session_info['current_step'] < module['total_steps'] -%}
    <a href="{{ url_for('modules.module_step', module_name=module['name'], module_step=session_info['current_step']) }}">
        <button class="action-button">Resume</button></a>
    {%- endif %}
    <a href="{{ url_for('modules.new_session', module_name=module['name']) }}">
        <button class="action-button">Restart</button>
    </a>
{% else -%}
    <a href="{{ url_for('modules.new_session', module_name=module['name']) }}">
        <button class="action-button">Start Session</button>
    </a>
{% endif %}

<script>
    function copyRepoUrl() {
        const repoInput = document.getElementById('repoUrl');
        repoInput.select();
        document.execCommand('copy');

        // Provide user feedback
        const copyButton = document.getElementById('copyRepoUrl');
        copyButton.textContent = 'Copied!';
        setTimeout(() => {
            copyButton.textContent = 'Copy';
        }, 2000);
    }
</script>

{% endblock %}
